@page "/blazorbook"

<ViewPort>
    <div class="storybook">
    <CascadingValue Value="@((Func<string, Task>)SetCurrentStory)" Name="SetCurrentStory">
        <CascadingValue Value="@CurrentStory" Name="CurrentStory">
            <Sidebar />
            <MainPane />
        </CascadingValue>
    </CascadingValue>
    </div>
</ViewPort>

@code {
    string CurrentStory { get; set; } = BlazorBook.Stories.GetAll().FirstOrDefault()?.Slug;

    private Task SetCurrentStory(string component)
    {
        CurrentStory = component;
        StateHasChanged();
        return Task.CompletedTask;
    }
}