@inherits BlazorBook.StoryComponent
@attribute [DisplayName("Example components/Hello world")]

<div class="my-component">
    This component is defined in the <strong>BlazorBook.Test.Stories</strong> library.
</div>
